<h4>Internal Server Error - Try Refreshing the Page</h4>
<div *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: Problem is not with angular If you are seeing this. </p>
    <p>Try the following steps</p>
    <ol>
        <li>Open the Chrome dev tools</li>
        <li>Inspect the network tab</li>
        <li>Check the failing request</li>
        <li>Examine the request URL - Make sure it is correct !</li>
        <li>Reproduce the error in Postman - if we see the same response, then the issue is not with Angular</li>
    </ol>
    <p>Following is the stack trace - this is where your investigation should start!</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</div>